---

---

- content_for :javascripts, javascript_include_tag('index')

.container
  .hero
    %h1
      Porter House Restaurant - Fine fare and ales on Dundas West in Toronto

    = image_tag 'porterhouse_logo@2x.jpg', id: 'logo'

  .social-icons
    = link_to image_tag('instagram@2x.jpg'), '//instagram.com/porterhouse_to', target: '_blank'
    = link_to image_tag('twitter@2x.jpg'), '//twitter.com/porterhouse_to', target: '_blank'

  .home-section
    %h2 Hours
    %p Lunch:
    %p Wednesday-Monday 11:30am-4pm
    %p Dinner:
    %p Wednesday-Friday 6pm-1am
    %p Saturday 5pm-1am
    %p Sunday 5pm-12am
    %p Monday 6pm-12am
    %p
    %p Closed Tuesdays
    %p No reservations

  .home-section
    %h2 Location

    %p
      = link_to 'https://www.google.ca/maps/place/1321+Dundas+St+W,+Toronto,+ON+M6J+1X8/@43.6493896,-79.4262962,17z/data=!3m1!4b1!4m2!3m1!1s0x882b345611255f0f:0x3cab5362aa6cb8df', target: '_blank' do
        1321 Dundas Street West, Toronto
    %p
      = mail_to 'porterhouseto@gmail.com'

    %p
      = link_to '647.346.3000', 'tel:6473463000'



  .home-section.menu
    %h2 Dinner Menu

    %h3 Snacks
    = partial 'partials/food', locals: { collection: data.menu.snacks }

    %h3 Full plates
    = partial 'partials/food', locals: { collection: data.menu.full_plates }

    %h3 Dessert
    = partial 'partials/food', locals: { collection: data.menu.dessert }

    %h2 Drink

    %h3
      Beer
      %em (rotating draught also available)
    = partial 'partials/drink', locals: { collection: data.menu.beer }

    %h3 Cider
    = partial 'partials/drink', locals: { collection: data.menu.cider }

    %h3 To share
    = partial 'partials/drink', locals: { collection: data.menu.to_share }

    %h3 Wine
    = partial 'partials/drink', locals: { collection: data.menu.wine }

    %h3 Non-alcoholic
    = partial 'partials/drink', locals: { collection: data.menu.non_alcoholic }

    %p
      %em (prices include tax)


